:host ::ng-deep nb-card {
  cursor: pointer;
}
:host ::ng-deep nb-card-body {
  padding: 0;
  overflow: hidden;
  border-radius: 0.25rem;
}


:host ::ng-deep nb-card-body img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

:host ::ng-deep nb-card-body:hover img {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}

:host ::ng-deep nb-card-body:hover .projectTitle{
  opacity: 1;
  transition: all 0.3s;
}

[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.projectTitle{
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  padding: 4.5px 8px 4.5px 8px;
  z-index: 1;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  opacity: 0;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s;
}

.img-fluid {
  width: 100%;
}
