<div *ngIf=project class="row no-gutters justify-content-md-center">

  <div class="col-xl-10 ">
    <nb-card id="main-card">
      <nb-card-header >
        <h4 id="project_title">{{project.name}}</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="row no-gutters margin-back">
          <div class="col-lg-8">

            <div class="lc-gallery">
              <div class="row no-gutters">
                <div *ngFor="let item of [].constructor(4);let isFirst = first; let i = index"
                  [ngClass]="{'col-12': isFirst, 'col-4': !isFirst}">
                  <div class="lightbox" (click)="openModal();currentSlide(i+1)">
                    <img [src]="getThumb(i)" />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div id="lc_details" class="col-lg-4">
            <div class='lc_container'>
              <div>
                <nb-card class="no-padding">
                  <nb-card-body>
                    <div class="lc_small-crad">
                      <div *ngIf=project.outline class="lc_outline">{{project.outline}}</div>
                      <div *ngFor="let info of project.infos" class="row no-gutters">
                        <span class="text-left col-lg-4  col-md-6 col-6 "><strong>{{info.title}}</strong></span>
                        <span class="col-lg-8 col-6">{{info.desc}}</span>
                      </div>
                      <div id="lc_tag">
                        <div *ngFor="let tag of project.tags">{{tag}}</div>
                      </div>
                      <div *ngIf=project.members >
                        <h6 class='small-title'>Team Members</h6>
                        <div *ngFor="let member of project.members" class="row no-gutters">
                          <span class="text-left col-lg-4 col-md-6 col-6"><strong>{{member.name}}</strong></span>
                          <span class="col-lg-8 col-md-6 col-6">{{member.role}}</span>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>


              <div id="btn-actions" class=" btn-group mt-auto" role="group">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="previousProject()">
                  <nb-icon class='back-icon' icon="arrow-back-outline">
                  </nb-icon>Previous
                </button>
                <button type="button" class="btn btn-outline-warning btn-sm" (click)="backToMenu()">
                  <nb-icon class='back-icon' icon="home-outline">
                  </nb-icon>Home
                </button>
                <button type="button" class="btn btn-outline-success btn-sm" (click)="nextProject()"> Next
                  <nb-icon class='forward-icon' icon="arrow-forward-outline">
                  </nb-icon></button>
              </div>
            </div>
          </div>


        </div>
      </nb-card-body>

    </nb-card>
  </div>


</div>

<div *ngIf=project id='bigImg'>
  <div class="bigImg-container">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
      <div class="img-slides" *ngFor="let item of [].constructor(4);let i = index">
        <img class="image-fullscreen" [src]="getThumb(i)" />
      </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <div class="click-area" (click)="closeModal()"></div>
  </div>
</div>
