<div *ngIf=project class="row no-gutters justify-content-md-center">

  <div class="col-xl-10 ">
    <nb-card id="main-card">
      <nb-card-header>
        <h4 id="project_title">{{project.name}}</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="row no-gutters margin-back">
          <div class="col-lg-8">

            <div class="lc-gallery">
              <div class="row no-gutters">
                <div *ngFor="let item of [].constructor(getMediaLength());let isFirst = first; let i = index"
                  [ngClass]="{'col-12': isFirst&&project.demoVideo, 'col-4': !isFirst||!project.demoVideo}">
                  <div *ngIf=isFirst&&project.demoVideo class='embed-responsive embed-responsive-16by9'>
                    <iframe class='embed-responsive-item' [src]="getVideo()|safe" scrolling="no" frameborder="0"
                      allowfullscreen></iframe>
                  </div>
                  <div *ngIf=!isFirst||!project.demoVideo class="lightbox" (click)="openModal();currentSlide(i)">
                    <nb-icon icon="maximize-outline">
                    </nb-icon>
                    <div [class]="getThumbClassName()">
                      <img [src]="getThumb(i)" />
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="lc_details" class="col-lg-4">
            <div class='lc_container'>
              <div>
                <nb-card class="no-padding">
                  <nb-card-body>
                    <div class="lc_small-crad">
                      <div *ngIf=project.outline class="lc_outline">
                        <div *ngFor="let outline of project.outline">{{outline}}</div>
                      </div>

                      <div *ngFor="let info of project.infos" class="row no-gutters">
                        <span class="text-left col-lg-4  col-md-6 col-6 "><strong>{{info.title}}</strong></span>
                        <span class="col-lg-8 col-6">{{info.desc}}</span>
                      </div>
                      <div id="lc_tag">
                        <div *ngFor="let tag of project.tags">{{tag}}</div>
                      </div>
                      <div *ngIf=project.members>
                        <h6 class='small-title'>Team Members</h6>
                        <div *ngFor="let member of project.members" class="row no-gutters">
                          <span class="text-left col-lg-4 col-md-6 col-6"><strong>{{member.name}}</strong></span>
                          <span class="col-lg-8 col-md-6 col-6">{{member.role}}</span>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
                <button *ngIf=project.link type="button" class="btn btn-info btn-sm " (click)="goToLink()">
                  <nb-icon class='back-icon' icon="attach-outline">
                  </nb-icon>
                  {{getLinkText()}}
                </button>
                <button *ngIf=project.SCLink style="margin-left: 5px;" type="button" class="btn btn-info btn-sm"
                  (click)="goToSCLink()">
                  <nb-icon class='back-icon' icon="attach-outline">
                  </nb-icon>
                  SOURCE CODE
                </button>
              </div>


              <div id="btn-actions" class=" btn-group mt-auto" role="group">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="previousProject()">
                  <nb-icon class='main-back-icon' icon="arrow-back-outline">
                  </nb-icon>Previous
                </button>
                <button type="button" class="btn btn-outline-warning btn-sm" (click)="backToMenu()">
                  <nb-icon class='main-back-icon' icon="home-outline">
                  </nb-icon>Home
                </button>
                <button type="button" class="btn btn-outline-success btn-sm" (click)="nextProject()"> Next<nb-icon
                    class='main-forward-icon' icon="arrow-forward-outline">
                  </nb-icon></button>
              </div>
            </div>
          </div>


        </div>
      </nb-card-body>

    </nb-card>
  </div>


</div>

<div *ngIf=project id='bigImg'>
  <div class="bigImg-container">
    <span class="close" (click)="closeModal()">&#10006;</span>
    <div class="slide-modal-content">
      <div *ngIf=!project.demoVideo>
        <div class="img-slides" *ngFor="let item of [].constructor(getMediaLength());let i = index">
          <img class="image-fullscreen" [src]="getThumb(i)" />
        </div>
      </div>
      <div *ngIf=project.demoVideo>
        <div class="img-slides" *ngFor="let item of [].constructor(getMediaLength()-1);let i = index">
          <img class="image-fullscreen" [src]="getThumb(i+1)" />
        </div>
      </div>

    </div>

    <div class="click-area" (click)="closeModal()">
      <a class="prev" (click)="plusSlides(-1);$event.stopPropagation();">&#10094;</a>
      <a class="next" (click)="plusSlides(1);$event.stopPropagation();">&#10095;</a>
    </div>
  </div>
</div>
