<nb-layout class="with-scroll windowmode" windowmode="true">

  <nb-layout-header class="" fixed>
    <div class='lc_header'>
      <div class='lc_row'>
        <div class=" d-none d-md-block ">
          <div class="lc_logo_container">
            <img class="lc_icon" src="assets/Icon.png">
            <div class='lc_logo'>

              <div class="myFKName">Carter Yang</div>
              <div class="myFKJob">
                Game Dev & Security engineer

              </div>
            </div>
          </div>
        </div>
        <div style="width: 100%;">
          <div class='lc_menu_container'>
            <nb-menu class='lc_menu' [items]="items">
            </nb-menu>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column class="colored-column-basic lc_main">
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </nb-layout-column>

</nb-layout>
