@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~@nebular/bootstrap/styles/globals";

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
}

body {
  background-color: #151a30 !important;
}

.scrollable-container {
  overflow-x: hidden !important;
}

.layout {
  width: 100vw;


}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
